.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap-datepicker.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap-theme.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap-theme.css.map
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap-theme.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap-theme.min.css.map
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap.css.map
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/bootstrap.min.css.map
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/customize-template.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/datepicker.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/font-awesome.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/font-awesome.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/jquery-ui.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/jquery.dataTables.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/responsive.bootstrap.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/css/rmodal.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/fonts/glyphicons-halflings-regular.eot
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/fonts/glyphicons-halflings-regular.svg
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/fonts/glyphicons-halflings-regular.ttf
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/fonts/glyphicons-halflings-regular.woff
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/fonts/glyphicons-halflings-regular.woff2
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/AUTO-INSURANCE-ICON.jpg
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/area.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/benefit.jpg
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/benefit.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/billing.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/branding.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/brandtype.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/buyproduct.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/car.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/carbrand.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/caricon.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/cartype.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/claim.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/count_type.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/customer.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/graph.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/history.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/menu.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/product.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/product_report.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/producttype.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/refundproduct.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/report.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/role.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/salehistory.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/sell_history.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/sellproduct.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/shop.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/supplier.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/type.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/unitcount.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/user.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/images/world.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/bootstrap-datepicker.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/bootstrap.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/bootstrap.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/dataTables.fixedHeader.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/dataTables.responsive.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/jquery-1.11.3.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/jquery-ui.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/jquery.dataTables.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/md5.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/npm.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/js/responsive.bootstrap.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/jsform/SetTax.js
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
RemoteSystemsTempFiles/.project
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v8.0 Server at localhost-config/catalina.policy
Servers/Tomcat v8.0 Server at localhost-config/catalina.properties
Servers/Tomcat v8.0 Server at localhost-config/context.xml
Servers/Tomcat v8.0 Server at localhost-config/server.xml
Servers/Tomcat v8.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v8.0 Server at localhost-config/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/doctor_tax/org/apache/jsp/SetTax_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/META-INF/MANIFEST.MF
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/SetTax.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/WEB-INF/lib/apache-logging-log4j.jar
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/WEB-INF/lib/java-json.jar
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/WEB-INF/lib/json-lib-2.4-jdk15.jar
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/WEB-INF/lib/sqljdbc4.jar
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/doctor-tax/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2016-10-28.txt
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/doctor_tax/org/apache/jsp/SetTax_jsp.class
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/13/00982633c09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.history/64/80914725c09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.history/6a/b0954525c09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.history/8/4099a39cc09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.history/d6/40f54625c09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.history/dc/50ab4425c09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.history/df/50ea2433c09c00161f8bcfd3454b98ad
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/doctor-tax/.indexes/5b/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/doctor-tax/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/doctor-tax/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/doctor-tax/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/doctor-tax/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/doctor-tax/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v8.0 Server at localhost.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/_SetTax.jsp.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1015721371.index
.metadata/.plugins/org.eclipse.jdt.core/1075794691.index
.metadata/.plugins/org.eclipse.jdt.core/1090200666.index
.metadata/.plugins/org.eclipse.jdt.core/1127300124.index
.metadata/.plugins/org.eclipse.jdt.core/1200339477.index
.metadata/.plugins/org.eclipse.jdt.core/1236689251.index
.metadata/.plugins/org.eclipse.jdt.core/1313656481.index
.metadata/.plugins/org.eclipse.jdt.core/1449841208.index
.metadata/.plugins/org.eclipse.jdt.core/1482361719.index
.metadata/.plugins/org.eclipse.jdt.core/1570659767.index
.metadata/.plugins/org.eclipse.jdt.core/1644702904.index
.metadata/.plugins/org.eclipse.jdt.core/1773958954.index
.metadata/.plugins/org.eclipse.jdt.core/1812496562.index
.metadata/.plugins/org.eclipse.jdt.core/1921635116.index
.metadata/.plugins/org.eclipse.jdt.core/2019903893.index
.metadata/.plugins/org.eclipse.jdt.core/2122600959.index
.metadata/.plugins/org.eclipse.jdt.core/2133282975.index
.metadata/.plugins/org.eclipse.jdt.core/2478914039.index
.metadata/.plugins/org.eclipse.jdt.core/2637943071.index
.metadata/.plugins/org.eclipse.jdt.core/2691541741.index
.metadata/.plugins/org.eclipse.jdt.core/2800558102.index
.metadata/.plugins/org.eclipse.jdt.core/2809250744.index
.metadata/.plugins/org.eclipse.jdt.core/2820280038.index
.metadata/.plugins/org.eclipse.jdt.core/2855899100.index
.metadata/.plugins/org.eclipse.jdt.core/2875341295.index
.metadata/.plugins/org.eclipse.jdt.core/2899740869.index
.metadata/.plugins/org.eclipse.jdt.core/2902031084.index
.metadata/.plugins/org.eclipse.jdt.core/313442838.index
.metadata/.plugins/org.eclipse.jdt.core/3170778162.index
.metadata/.plugins/org.eclipse.jdt.core/3194370155.index
.metadata/.plugins/org.eclipse.jdt.core/3256685192.index
.metadata/.plugins/org.eclipse.jdt.core/3349119677.index
.metadata/.plugins/org.eclipse.jdt.core/3407430047.index
.metadata/.plugins/org.eclipse.jdt.core/3417200662.index
.metadata/.plugins/org.eclipse.jdt.core/351221734.index
.metadata/.plugins/org.eclipse.jdt.core/3623672748.index
.metadata/.plugins/org.eclipse.jdt.core/414978335.index
.metadata/.plugins/org.eclipse.jdt.core/4184201189.index
.metadata/.plugins/org.eclipse.jdt.core/471236001.index
.metadata/.plugins/org.eclipse.jdt.core/618723895.index
.metadata/.plugins/org.eclipse.jdt.core/781808.index
.metadata/.plugins/org.eclipse.jdt.core/808374113.index
.metadata/.plugins/org.eclipse.jdt.core/900480025.index
.metadata/.plugins/org.eclipse.jdt.core/980670568.index
.metadata/.plugins/org.eclipse.jdt.core/985286902.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-ic0itsi_32623/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-ic0itsi_32623/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-ic0itsi_32623/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1250026630.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1564451157.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1570659767.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3774677756.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/450577059.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/549427496.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
doctor-tax/.classpath
doctor-tax/.gitignore
doctor-tax/.project
doctor-tax/.settings/.jsdtscope
doctor-tax/.settings/org.eclipse.core.resources.prefs
doctor-tax/.settings/org.eclipse.jdt.core.prefs
doctor-tax/.settings/org.eclipse.wst.common.component
doctor-tax/.settings/org.eclipse.wst.common.project.facet.core.xml
doctor-tax/.settings/org.eclipse.wst.jsdt.ui.superType.container
doctor-tax/.settings/org.eclipse.wst.jsdt.ui.superType.name
doctor-tax/WebContent/META-INF/MANIFEST.MF
doctor-tax/WebContent/css/bootstrap.min.css
